*{
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
html{
	font-size: 62.5%;
}

.navegador{
	background-color: rgb(18, 91, 80);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
}

nav ul li a {
	padding: 1em;
	font-size: 1.5rem;
	color: rgb(248, 180, 0);
	text-decoration: none;
}

h1,h2{
	color: rgb(18, 91, 80);
	font-size: 2.5rem;
	text-align: center;
	padding: 5%;
}

h2{
	font-size: 2rem;
	text-align: center;
}

p{
	font-size: 1.5rem;
	line-height: 2rem;
	color: rgb(18, 91, 80);
	text-align: center;
}

.footer{
	padding: 5%;
	margin: none;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
	color: rgb(248, 180, 0);
	background-color: rgb(18, 91, 80);
}

.footer__icono{
	display: inline-block;
	margin: 10px;
}

.footer__logo{
	height: 20px;
	width: 20px;
}

.logoPrincipal{
	height: 110px;
	width: 90px;
}

.mapa{
	height: 34vh;
	width: 47vw;
	margin: 5px;
	align-items: center;
}


.fondo{
	background-color: rgb(250, 245, 228);
}

.contenedor{
     padding: 5%;
	 padding-bottom: 10%;
	 margin: none;
}


#indexGrid {
	display: grid;
	grid-template-areas: 
	"nav nav "
	"header header"
	"section main"
	"footer footer";
	grid-template-columns: 50% 50%;
}

nav{
	grid-area: nav;
}

header{
	padding: 5%;
	grid-area: header;
}

main{
	grid-area: main;
}

section{
	grid-area: section;
}

footer{
	grid-area: footer;
}

#galeriaPrincipal{
	width: 80%;
	padding: 20%;
	margin: 5px;
	border: none;
	align-content: center;
}

.sectionIndex{
	padding: 20%;
	margin: 3px;
	border: none;
	align-content: center;
}


#quienesSomosGrid{
	display: grid;
	grid-template-areas: 
	"nav nav "
	"section main"
	"footer footer";
	grid-template-columns: auto, auto;
}

#navqsi{
	grid-area: nav;
}

#sectionqsi{
	grid-area: section;
	padding: 20%;
	display: flex;
	align-items: center;
}

#mainqsi{
	grid-area: main;
	padding: 20%;
	align-content: center;
}

#footerqsi{
	grid-area: footer;
}

#contactoGrid{
	display: grid;
	grid-template-areas: 
	"nav nav "
	"header header"
	"main section"
	"footer footer";
	grid-template-columns: 50% 50%;
}

#navContacto{
	grid-area: nav;
}

#tituloContacto{
	grid-area: header;
}

#mainContacto{
	grid-area: main;
	display: flex;
	justify-content: center;
	align-items: center;
}

#mapaContacto{
	grid-area: section;
}

#footerContacto{
	grid-area: footer;
}

@media screen and (max-width: 480px) {
	#indexGrid {
		display: grid;
		grid-template-areas: 
		"nav"
		"header"
		"main"
		"section"
		"footer";
		grid-template-columns: auto;
	}

	#galeriaPrincipal{
		padding: 10%;
		margin: 5px;
		border: none;
		align-content: center;
	}
	
	.sectionIndex{
		padding: 10%;
		margin: 3px;
		border: none;
		align-content: center;
	}

	.navegador{
		background-color: rgb(18, 91, 80);
		display: flex;
		align-items: center;
		text-align: end;
	}

	nav ul li a {
		padding: 1em;
		font-size: 11px;
		color: rgb(248, 180, 0);
		text-decoration: none;
	}

	h3{
		font-size: 13px;
	}
}

@media screen and (max-width: 480px){
	#quienesSomosGrid{
		display: grid;
		grid-template-areas: 
		"nav"
		"section"
		"main"
		"footer";
		grid-template-columns: auto;
	}
	#mainqsi{
		grid-area: main;
		padding: 10%;
		align-items: center;
	}

	#sectionqsi{
		grid-area: section;
		padding: 20%;
		display: flex;
		align-items: center;
		justify-content: center ;
	}

	.navegador{
		background-color: rgb(18, 91, 80);
		display: flex;
		align-items: center;
		text-align: end;
	}

	nav ul li a {
		padding: 1em;
		font-size: 11px;
		color: rgb(248, 180, 0);
		text-decoration: none;
	}

}

@media screen and (max-width: 480px){
	#contactoGrid{
		display: grid;
		grid-template-areas: 
		"nav"
		"header"
		"main"
		"section"
		"footer";
		grid-template-columns: auto;
	}

	.navegador{
		background-color: rgb(18, 91, 80);
		display: flex;
		align-items: center;
		text-align: end;
	}

	nav ul li a {
		padding: 1em;
		font-size: 11px;
		color: rgb(248, 180, 0);
		text-decoration: none;
	}
}

iframe{
	width: 100%;
	height: 100%;
}