@import "../scss/vars";
@import "../scss/fonts";


#galeriaPrincipal{
    display: flex;
	width: 80%;
	padding: 20%;
	margin: 5px;
	border: none;
	align-content: center;
    justify-content: center;
    align-items: center;
}

#carruselAlan{
    width: 44%;
    margin: 20px auto;
    border: none;
    align-content: center;
}

#carruselCami{
    width: 44%;
    margin: 20px auto;
    border: none;
    align-content: center;
}

#carruselDani{
    width: 44%;
    margin: 20px auto;
    border: none;
    align-content: center;
}