@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
$tipografiaPrincipal: 'Roboto', sans-serif;
$tipografiaSecundaria: 'Open Sans', sans-serif;

$textoGrande:3.5em;
$textoMediano:2.5em;
$textoPequeño:1em;

